

@font-face {
    font-family: myfont;
    src: url(dk-cool-crayon.woff);
}
html {
	background-image: url("chalkboard.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: 100%;
	font-family: myfont;
	color: white;
	font-size: 250%;
	}